@import "../../style.scss";

.movie__cp {
   border-radius: 8px;
   position: relative;
   box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
   &-container {
      border-radius: 8px;
      height: 200px;
      width: 100%;
      display: flex;
      align-items: center;
      gap: 20px;
      background-color: $secondary-color;
      p {
         margin: 0;
      }
      @media screen and (max-width: 1279.98px) {
         height: 180px;
      }
      @media screen and (max-width: 1023.98px) {
         height: 200px;
      }
      @media screen and (max-width: 768.98px) {
         height: 150px;
         gap: 12px;
      }
   }
   &-poster {
      border-radius: 8px;
      height: 100%;
      img {
         position: relative;
         aspect-ratio: 133 / 200;
         border-radius: 8px;
         height: 100%;
      }
      &-details {
         display: flex;
         flex-direction: column;
         p,
         span {
            font-size: 14px;
            font-weight: 600;
            line-height: 16.94px;
            @media screen and (max-width: 768.98px) {
               font-size: 10px;
            }
            margin: 0;
         }
         p {
            span {
               font-size: 14px;
               font-weight: 600;
               line-height: 16.94px;
            }
            span:not(:first-child) {
               font-size: 12px;
               font-weight: 300;
               line-height: 14.52px;
            }
         }
         @media screen and (max-width: 768.98px) {
            font-size: 10px;
         }
      }
   }
   &-content {
      display: flex;
      flex-direction: column;
      gap: 8px;
   }
   vaadin-button {
      padding: 10px 16px;
      position: absolute;
      right: 20px;
      bottom: 20px;
      transition: all ease 0.3s;
      padding: 0;
      &:hover {
         background-color: $secondary-color;
         a {
            color: $primary-color;
         }
      }
   }
   &-link {
      color: white;
      padding: 10px 16px;
      display: inline-block;
      border-radius: 8px;
      &:hover {
         text-decoration: none;
      }
   }
   &-title {
      font-weight: 700;
   }
   @media screen and (max-width: 768.98px) {
      &-title {
         font-size: 14px;
         font-weight: 700;
      }

      vaadin-button {
         padding: 4px 6px;
         font-size: 10px;
         right: 10px;
         bottom: 5px;
         a {
            font-size: 12px;
         }
      }
   }
   @media screen and (min-width: 769px) and (max-width: 1024.98px) {
      vaadin-button {
         right: 10px;
         bottom: 8px;
         padding: 10px;
         a {
            font-size: 14px;
         }
      }
   }
}
