@import "./var.scss";
.ant-btn {
  font-size: 18px;
  font-weight: 600;
  font-family: $primary-font;
  color: $primary-color;
  line-height: 1;
  padding: 10px 20px;
  text-align: center;
  height: auto;
  box-shadow: none;
  &.ant-btn-primary {
    color: white;
    background-color: $primary-color;
  }
}
.ant-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;

  .ant-col {
    width: 100%;
    .ant-row {
      &.ant-form-item-row {
        .ant-col.ant-form-item-label {
        }
        .ant-form-item-control {
          .ant-input {
            box-shadow: none;
          }
        }
      }
    }
  }
  .ant-btn {
    width: 100%;
    justify-content: center;
  }
}
