@import './var.scss';
.ant-btn {
  font-size: 18px;
  font-weight: 600;
  font-family: $primary-font;
  color: $primary-color;
  line-height: 1;
  padding: 12px 24px;
  text-align: center;
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  height: auto;
  border-radius: 12px;
  &.ant-btn-primary {
    color: white;
    background-color: $primary-color;
  }
  span {
    font-size: 14px;
  }
}
.ant-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 800px;
  &-item {
    .ant-row.ant-form-item-row {
      display: flex;
      flex-direction: column;
      .ant-form-item-label {
        width: fit-content;
      }
      .ant-col.ant-form-item-control {
        flex: unset;
      }
    }
  }
  .ant-col {
    &:not(.ant-form-item-label) {
      width: 100%;
      .ant-form-item-control-input-content {
        & > .ant-input,
        & > .ant-input-password,
        & > .ant-input-number {
          box-shadow: unset;
          border-radius: 6px;
          padding: 5px 10px;
        }
      }
    }
    .ant-form-item-label {
      font-size: 12px;
      color: $primary-color;
      font-style: normal;
      font-weight: 500;
      label.ant-form-item-required::before {
        content: '';
      }
    }
    .ant-picker-outlined {
      border-radius: 100rem;
      width: 100%;
      padding: 10px 20px;
      box-shadow: unset;
    }
  }
  .ant-btn {
    width: 100%;
    justify-content: center;
  }
}
.ant-select-selector {
  box-shadow: unset !important;
}
.ant-table {
  &-thead {
    .ant-table-cell {
      background-color: $secondary-color !important;
      color: $primary-color !important;
      .anticon {
        color: #999;
        &.active {
          color: white !important;
        }
      }
    }
  }
}
.ant-layout {
  background-color: #fff;
}
.ant-select {
  &.ant-select-outlined {
    min-width: 200px !important;
  }
}
.ant-upload-drag-container {
  p.ant-upload-text {
    font-size: 14px !important;
  }
}

.ant-skeleton.ant-skeleton-element {
  .loading-selector {
    &.ant-skeleton-button {
      width: 240px;
      height: 45px;
      margin-bottom: 20px;
      border-radius: 100rem;
      display: block;
    }
  }
  &.loading-selector {
    &.date-item {
      width: 12%;
      margin-right: 10px;
      .loading-selector {
        &.ant-skeleton-button {
          width: 100%;
        }
      }
    }
  }
}
.ant-avatar-string {
  width: 100%;
  height: 100%;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100rem;
  }
}
