@import "../../styles/var.scss";
.dashboard {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  &-search {
    padding: 0 50px 0 0px;
    box-sizing: border-box;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 100%;
  }
  &-admin {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  &-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 12fr 0fr;
    gap: 24px;
    &.open-form {
      grid-template-columns: 8fr 4fr;
      @media screen and (max-width: 1439.98px) {
        grid-template-columns: 7fr 5fr;
      }
      @media screen and (max-width: 1279.98px) {
        grid-template-columns: unset;
      }
    }
  }
  &-form {
    border: 0.25px solid $primary-color;
    border-radius: 6px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 20px 0;
    @media screen and (max-width: 1279.98px) {
      margin-left: auto;
      margin-right: auto;
      width: 80%;
      padding: 40px 0;
    }
    &-container {
      width: 80%;
    }
    &-title {
      text-align: center;
      font-weight: 700;
    }
    &-input {
      width: 100%;
      display: flex;
      flex-direction: column;
    }

    &-close {
      position: absolute;
      right: 12px;
      top: 12px;
      cursor: pointer;
      svg {
        width: 24px;
      }
    }
  }

  &-field {
    position: relative;

    p {
      position: absolute;
      bottom: 0;
      left: 0;
      font-size: 12px;
      color: red;
      font-style: italic;
      transform: translateY(calc(100% + 5px));
    }
  }
  &-actions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
  }
  &-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    position: relative;
  }
  &-add {
    cursor: pointer;
    background-color: #fff;
    border-radius: 29px;
    margin: 0;
    color: $primary-color;
    padding: 12px 17px;
  }
  .dashboard {
    &-action-btn {
      background-color: white;
      color: $primary-color;
      border-radius: 8px;
      padding: 8px 16px;
      font-size: 14px;
    }
  }
}
