@import "../../styles/var.scss";
.bill {
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 4px 20px 0px #00000040;
  padding-block: 20px;
  margin-bottom: -80px;
  position: sticky;
  bottom: 0;
  opacity: 0;
  transform: translateY(100%);
  transition: all ease 0.3s;
  left: 0;
  &.isOpen {
    transform: translateY(0);
    opacity: 1;
  }
  h4 {
    padding: 10px 150px;
    font-weight: 700;
  }
  &-container {
    position: relative;
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 4fr 1fr;
  }
  &-content {
    display: flex;
    flex-direction: column;
  }
  vaadin-button {
    width: 227px;
    padding: 18px 21px;
  }
  &-link {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    a {
      display: inline-block;
      width: 100%;
      color: $primary-color;
      text-decoration: none;
      font-weight: 700;
      transition: all ease 0.3s;
      vaadin-button {
        background-color: $primary-color;
        color: white;
        padding: 10px 20px;
        width: 100%;
        border: 1px solid $primary-color;
        cursor: pointer;
      }
      &.secondary {
        vaadin-button {
          background-color: #fff;
          color: $primary-color;
          font-weight: 700;
        }
        &:hover {
          vaadin-button {
            background-color: $primary-color;
            color: #fff;
          }
        }
      }
    }
  }

  &-title {
    font-weight: 600;
  }
  @media screen and (min-width: 425.98px) and (max-width: 768.98px) {
    &-container {
      width: 85%;
    }
    h4 {
      padding-left: 57px;
    }
    &-desc {
      font-size: 14px;
    }
  }
  @media screen and (min-width: 768.98px) and (max-width: 1024.98px) {
    h4 {
      padding-left: 102px;
    }
  }
  @media screen and (max-width: 425.98px) {
    h4 {
      padding: 8px 22px;
      font-size: 16px;
    }
    &-container {
      width: 90%;
    }
    &-desc {
      span {
        font-size: 12px;
      }
    }
    &-link {
      a {
        vaadin-button {
          font-size: 12px;
        }
      }
    }
  }
}
