@import "../../styles/var.scss";
.showtime {
  &-selection {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 20px;
    width: 100%;
    label {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 3px;
      font-weight: 600;
      @media screen and (max-width: 425.98px) {
        svg {
          width: 20px;
        }
      }
      span {
        &.label {
          @media screen and (max-width: 1439.98px) {
            display: none;
          }
        }
      }
    }
    .showtime-date {
      .ant-radio.ant-wave-target {
        display: none;
      }
      .ant-radio-wrapper,
      .ant-radio-wrapper-checked {
        border-radius: 100rem;
        p.checked {
          border-radius: 100rem;
        }
      }
    }
  }
  &-date {
    .ant-radio-wrapper {
      border-radius: 8px;
      text-align: center;
      border: 1px solid $primary-color;
      &-checked {
        border-color: transparent;
      }
      span {
        padding: 0;
        p {
          border-radius: 8px;
          width: 100%;
          padding: 5px 30px;
          margin: 0;
          display: flex;
          flex-direction: column;
          &.checked {
            background-color: $primary-color;
            color: white;
          }
          .day {
            font-size: 14px;
            font-weight: 600;
          }
        }
      }
    }
    .ant-radio-group {
      width: 100%;
      display: flex;
      justify-content: space-around;
    }
  }
}
