@import '../../style.scss';

.showtime-time {
  .ant-radio {
    display: none;
  }

  .ant-radio-wrapper {
    .ant-btn {
      background-color: white;
      color: $primary-color;
      width: fit-content;
    }
    &.ant-radio-wrapper-checked {
      .ant-btn {
        background-color: $primary-color;
        color: white;
      }
    }
  }
}
.showtime-selection.time {
  margin-top: 20px;
  margin-bottom: 0px;
}
