@import "../../styles/var.scss";

.login {
  .search {
    display: none;
  }
  &-container {
    max-width: 80%;
    margin: 60px auto;
    display: grid;
    grid-template-columns: 5fr 7fr;
    gap: 24px;
  }
  &-form {
    &-wrap {
      position: relative;
    }
  }
  &-left {
    padding: 60px 60px 30px;
    box-shadow: 0px 0px 10px 0px #e3f2f7;
  }
  &-right {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &-form {
    .input {
      display: inline-block;
    }
  }
  a {
    text-decoration: underline;
    color: $primary-color;
    font-size: 16px;
    font-weight: 500;
  }
  &-forgot {
    text-align: right;
    margin-bottom: 30px;
  }
  &-button-wrap {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
    width: 100%;
    text-align: center;
  }
  &-btn {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    span,
    svg {
      width: 20px;
      height: 20px;
    }
  }
  &-signup {
    text-align: center;
    padding-block: 20px;
  }
  .ant-btn {
    width: 100%;
  }
}
